:host {
    display: block;
}

.artists-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.artist-item {
    align-self: center;
    justify-self: center;
}

@media(min-width: 1300px) {
    .artists-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media(max-width: 860px) {
    .artists-list {
        grid-template-columns: 1fr;
    }
}

