<nav class="nav">
    <ul class="nav-list">
        <li class="nav-item">
            <a [routerLink]="yearsRoute">
                {{'years' |  l10n }}
            </a>
        </li>
        <li class="nav-item">
            <app-profile-input (nameChange)="onProfileNameChange($event)"
                               [name]="profileName$ | async"
            ></app-profile-input>
        </li>
        <li class="nav-spacing"></li>
        <li class="nav-item">
            <a [routerLink]="aboutRoute">
                {{'about' | l10n }}
            </a>
        </li>
    </ul>
</nav>
